body {
  background-image: url("../images/keyboard.jpg");
  background-size: cover; 
  background-repeat: repeat;
  background-color: lightgray;
  font-family: 'Nunito Sans', sans-serif;
  background-attachment: fixed;
}

#logo {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 2px 2px #383737;
}

.nav-wrapper {
    background-color: #0521c5;
    z-index: 0;
}

h2,
h4 {
  color: rgb(105, 103, 103);
  text-shadow: 2px 2px #383737;
  font-family: 'Montserrat', sans-serif;
}

i {
  padding: 5px;
}

.sidenav {
  background-color: rgb(196, 190, 190, 0.8) !important;
  border: 2px solid white;
  z-index: 1;
}

.side-nav-bar {
  background-color: rgb(196, 190, 190, 0.8) !important;
  border: 2px solid white;
  z-index: 1;
}

.sidenav-trigger {
  background-color: rgb(196, 190, 190, 0.8);
}

.about-content {
  border-radius: 10px!important;
}


#about-me {
  border-radius: 10px;
  line-height: 1.5;

}

.form {
  background-color: rgb(196, 190, 190, 0.8);
  border: 2px solid white;
  margin: auto;
  border-radius: 10px;
  font-family: 'Chivo', sans-serif;
}

.card {
  margin: 20px !important;
  padding: 10px;
  height: 450px;
  max-width: 100%;
  border: 2px solid white;
  background-color: rgb(196, 190, 190, 0.8) !important;
  border-radius: 10px!important;
  font-family: 'Chivo', sans-serif;
}

.activator {
  height: 180px;
  width: 100px;
  padding: 10px;
}

.card-title {
  text-align: left;
  font-family: 'Nunito Sans', sans-serif;
}

.card-links {
  color: rgb(73, 72, 72);
  /*text-shadow: 2px 2px #383737;*/
  font-size: large;
}

p {
    line-height: 1.5;
    padding: 10px;
    font-family: 'Nunito Sans', sans-serif;
  }

a {
  font-family: 'Nunito Sans', sans-serif;
}

.nav-background {
  top: 0;
  left: 0;
  padding: 0 !important;
  width: 100%;
}

.user-view {
  padding: 0 !important;
  margin: 0 !important;
}

#owner-contact {
  margin: 20px;
}

label {
  color: black !important;
}


/* label focus color */
.input-field input[type="text"]:focus + label,
.materialize-textarea:focus:not([readonly]) + label,
.input-field input[type="tel"]:focus + label {
  color: #444950 !important;
}

.material-icons {
  color: black !important;
}

/* label underline focus color */
.input-field input[type="text"]:focus,
.materialize-textarea:focus:not([readonly]),
.input-field input[type="tel"]:focus {
  border-bottom: 1px solid #444950 !important;
  box-shadow: 0 1px 0 0 #444950 !important;
}
